*{margin: 0;padding: 0;}

header{
    text-align: center;
}
header div{
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-size: 40px;
    margin-top: 20px;
}

.req{
    text-align: center;
    margin-top: 20px;
}

#ch{
    outline: none;
    height: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    border-radius: 15px;
}

.val{
    background-color: rgba(19, 205, 230, 0.651);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    margin-left: 15px;
    font-weight: bold;
}

.menu{
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 85%;
}

.choix{
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
    padding: 10px;
    transition: transform 0.5s;
    
}
.choix:hover{
    transition: all 0.5s;
    background-color: rgba(32, 134, 194, 0.952);
    color: white;
    transform: translate(0,-5px);
}
#tout{border-top-left-radius: 15px;}
#a-faire{transform: translate(-5px);}
#a-faire:hover{
    transition: all 0.5s;
    background-color: rgba(39, 204, 233, 0.952);
    color: white;
    transform: translate(-5px,-5px);
    
}
#faire{
    transform: translate(-10px);
    border-bottom-right-radius: 15px;
}
#faire:hover{
    transition: all 0.5s;
    background-color: rgba(121, 99, 85, 0.9);
    color: white;
    transform: translate(-10px,-5px);
}
#vider{
    float: right;
    border: 0;
    background-color: rgb(230, 104, 104);
    color: white;
    border-radius: 15px;
    padding: 10px;

}
#vider:hover{
    transition: all 0.5s;
    background-color: rgba(235, 25, 42, 0.897);
    color: white;
    transform: translate(0px,0px);

}
.tache{
    margin-left: 10%;
    width: 80%;
    /* transition: all 1s; */
}

.tache1{
    border-bottom: 1px solid black;
    transition: all 0.5s;
    padding: 10px;
}

.lb{
    display: inline-block;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: translate(5px,-3px);
    text-transform: capitalize;
    text-align: justify;
}

.tache1 img{
    width: 20px;
    float: right;
    border: 1px solid black;
    cursor: pointer;
}
input[type="checkbox"]{
    display: none;
}
.on{
    font-weight: bold;
    font-size: 20px;
    padding: 8px;
    background-color: rgba(49, 119, 184, 0.692);
    width: 100px;
    display: inline-block;
}
.croix{
    position: absolute;
    right: 0;
    width: 15px;
    height: 20px;
    display: inline-block;
    transform: translate(3px,-30px);
    background-color: rgb(0, 0, 0);
    margin: 10px;
}

.croix1,.croix2{
    width: 3px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
    display: inline-block;
}
.croix1{
    transform: translate(5px) rotate(50deg);
}
.croix2{
    transform: translate(-2px) rotate(-50deg);
}
.pop{
    width: 350px;
    padding-top: 20px;
    background-color: black;
    position: absolute;
    display: none;
    opacity: 0;
    transition: all 1s;
    
}
.pop img{
    border: 5px solid black;
    width: 300px;
    border-radius: 15px;
}
.info{
    width: 100%;
}
.nom{
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
    color: aqua;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.reseau{
    background-color: rgb(0, 0, 0);
}
.r1{
    display: inline-block;
}
.r1 img {
    width: 50px;
    opacity: 0;
    transition: all 1s;
}
.r1 img[alt="git"] {
    width: 60px;
}
.r1 img[alt="email"] {
    width: 50px;
    transform: translate(0,-10px);
}
.r1 img[alt="fb"] {
    width: 38px;
    transform: translate(0,-10px);
}
.r1 img[alt="li"] {
    width: 60px;
    transform: translate(-10px,-10px);
}

@media screen and (max-width:700px) {
    /* body{
        background-color: rgb(187, 17, 17);

    } */
    header div{
        font-size: 80px;
    }
    #ch{
        width: 70%;
    }

    .tache1,.choix{
        font-size: 30px;
        text-align: justify;
    }
    .tache1 img{
        width: 35px;
    }
    

}